{% extends "lab_10/layout/base.html" %}

{% block header %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">IQBAL</a>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'lab-10:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'lab-10:movie_list' %}">Movie List</a></li>  
      </ul>
      
    </div>
  </div><!-- /.container-fluid -->
</nav>  
{% endblock %}

{% block content %}
<section name="watch-later">
<div class="container">
<h1 style="padding-bottom: 20px; text-align: center;">Watch Later List</h1>
<div class="card-deck">
  {% if watch_later_movies %}
      {% for movie in watch_later_movies %}
        <div class="card mb-3 text-center">
           	<div class="card-block flex-item">
	            <div class="list-watch">
		            <a href="{% url 'lab-10:movie_detail' movie.imdbid %}"><img src="{{movie.poster}}" class="img-thumbnail" style="width: 250px; height: 400"></a>
		            <h3>{{movie.title}}</h3>
		            <h5>{{movie.year}}</h5>
		            <!-- <a href="{% url 'lab-10:movie_detail' movie.imdbid %}" class='btn btn-primary'> Detail </a> -->
	         	</div>
         	</div>
        </div>
        {% endfor %}
    {% else %}
    <div class="text-center">
		<div class="alert alert-danger">
	  		<strong>Oops!</strong> You haven't added any movies yet
		</div>
	</div>
    {% endif %}
  </div>
  </div>
</section>

<!-- <div class="container" style="margin-top: 80px">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h1> Watch Later List </h1>
		</div>
	</div>
	<div class="flex">
		{% if watch_later_movies %}
    		{% for movie in watch_later_movies %}
    			<div class="flex-item text-center">
    				<a href= "{% url 'lab-10:movie_detail' movie.imdbid %}"><img src="{{movie.poster}}" class="img-thumbnail" style="width: 200px"></a>
    				<p>{{movie.title}} ({{movie.year}}) </p>
    			</div>
    		{% endfor %}
    	{% else %}
    	<div class="text-center">
    		<div class="alert alert-danger">
		  		<strong>Oops!</strong> You haven't added any movies yet
			</div>
    	</div>
    	
		{% endif %}
	</div>
 -->


{% endblock %}
