{% extends "lab_8/layout/base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Login Section -->
<div class="button" id="lab8">
<button class="btn btn-primary" onclick="facebookLogin()">Login with Facebook</button>
</div>
{% endblock %}

