body {
  background: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;

}

.footer {
  margin-bottom: 0px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    padding: 20px;
    background: #f6f8fa;
}

.cover {
  left: 150px;
  top: 60px;
  height: 360px;
  width: 851px;
  position: absolute;
  background: white;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.cover img {
    width: 100%;
    height: 315px;
}
#cover-img {
  clip: rect(0px, 0px, 500px, 0px);
}
.picture {
  background: white;
  width: 168px;
  height: 168px;
  padding: 5px;
  top: 230px;
  left: 170px;
  position: absolute;
  border-radius: 1px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.picture img {
  width: 158px;
  height: 158px;
}

